# Core functionality - changes here should be rare!
/src/app.py                   @havardvaglid
/src/backend/database.py      @havardvaglid
/src/backend/routers/auth.py  @havardvaglid

# The frontend will need refactored soon to be more object oriented.
/src/static/   @havardvaglid
